@import url('https://fonts.googleapis.com/css?family=Open+Sans') body, html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

.front, .back {
  padding: 10%;
}

.ReactFlipCard {
  margin: 25px;
  text-align: center;
}

.ReactFlipCard, .ReactFlipCard__Front, .ReactFlipCard__Back {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

.ReactFlipCard__Front, .ReactFlipCard__Back {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px;
}

.ReactFlipCard__Front {
  background-color: white;
}

.ReactFlipCard__Back {
  background-color: #cef;
}

.stockGrowth {
  background-color: #a5d6a7 !important;
}

.stockDecline {
  background-color: #ef9a9a !important;
}

#example {
  text-align: center;
}